<?xml version="1.0" encoding="UTF-8"?>
<config>
	<modules>
		<Ccc_User>
			<version>0.2.0</version>
		</Ccc_User>
	</modules>
	<admin>
		<routers>
			<user>
				<use>admin</use>
				<args>
					<module>Ccc_User</module>
					<frontName>user</frontName>
				</args>
			</user>
		</routers>
	</admin>
	<adminhtml>
		<menu>
			<user>
				<title>User</title>
				<sort_order>110</sort_order>
				<children>
					<user>
						<title>Grid</title>
						<sort_order>1</sort_order>
						<action>user/adminhtml_user/grid</action>
					</user>
					<user1>
						<title>Manage User</title>
						<sort_order>2</sort_order>
						<children>
							<user>
								<title>add</title>
								<sort_order>1</sort_order>
								<action>user/adminhtml_user/new</action>
							</user>
							<user1>
								<title>edit</title>
								<sort_order>2</sort_order>
								<action>user/adminhtml_user/edit</action>
							</user1>
						</children>
					</user1>
				</children>>
			</user>
		</menu>
	</adminhtml>
	<global>
		<blocks>
			<user>
				<class>Ccc_User_Block</class>
			</user>
		</blocks>
		<models>
			<user>
				<class>Ccc_User_Model</class>
				<resourceModel>Ccc_User_Resource</resourceModel>
			</user>
			<Ccc_User_Resource>
				<class>Ccc_User_Model_Resource</class>
				<entities>
					<user>
						<table>User</table>
					</user>
				</entities>
			</Ccc_User_Resource>
		</models>
		<resources>
			<User_setup>
				<setup>
					<module>Ccc_User</module>
				</setup>
			</User_setup>
		</resources>
	</global>
</config>