<?xml version="1.0" encoding="UTF-8"?>
<config>
	<modules>
		<Ccc_Abc>
			<version>0.0.2.0</version>
		</Ccc_Abc>
	</modules>
	<frontend>
		<routers>
			<adminhtml>
				<args>
					<module>Ccc_Abc</module>
				</args>
			</adminhtml>
		</routers>
	</frontend>
	<global>
		<blocks>
			<abc>
				<class>Ccc_Abc_Block</class>
			</abc>
		</blocks>
		<models>
			<abc>
				<class>Ccc_Abc_Model</class>
				<resourceModel>Ccc_Abc_Resource</resourceModel>
			</abc>
			<Ccc_Abd_Resource>
				<class>Ccc_Abc_Model_Resource</class>
				<entities>
					<abc>
						<table>abc</table>
					</abc>
				</entities>
			</Ccc_Abd_Resource>
		</models>
		<resources>
			<abc_setup>
				<setup>
					<module>Ccc_Abc</module>
					<class>Ccc_Abc_Model_Resource_Setup</class>
				</setup>
			</abc_setup>
			<eav_module_read>
				<connection>
					<use>core_read</use>
				</connection>
			</eav_module_read>
			<eav_module_write>
				<connection>
					<use>core_write</use>
				</connection>
			</eav_module_write>
		</resources>
	</global>
</config>