<?xml version="1.0" encoding="UTF-8"?>
<config>	
	<modules>
		<Ccc_Payment>
			<version>1.1.0.0</version>
		</Ccc_Payment>
	</modules>
	<default>
		<!-- payment method -->
	        <payment>
	            <cod>
	                <active>1</active>
	                <model>ccc_payment/cod</model>
	                <order_status>processing</order_status>
	                <title>Cod</title>
	            </cod>
	        </payment>
	</default>
	<admin>
		<routers>
			<adminhtml>
				<args>
					<modules>
						<ccc_payment>Ccc_Payment</ccc_payment>
					</modules>
				</args>
			</adminhtml>			
		</routers>
	</admin>
	<global>
		<helpers>
			<ccc_payment>
				<class>Ccc_Payment_Helper</class>
			</ccc_payment>
		</helpers>
		<models>
			<ccc_payment>
				<class>Ccc_Payment_Model</class>
			</ccc_payment>
		</models>
	</global>
</config>