<?xml version="1.0" encoding="UTF-8"?>
<config>
	<modules>
		<Ccc_EavModule>
			<version>2.0.0.0</version>
		</Ccc_EavModule>
	</modules>
	<frontend>
		<routers>
			<eavmodule>
				<use>standard</use>
				<args>
					<module>Ccc_EavModule</module>
					<frontName>eavmodule</frontName>
				</args>
			</eavmodule>
		</routers>
	</frontend>
	<global>
		<models>
			<eavmodule>
				<class>Ccc_EavModule_Model</class>
				<resourceModel>Ccc_Resource_Model</resourceModel>
			</eavmodule>
			<Ccc_Resource_Model>
				<class>Ccc_EavModule_Model_Resource</class>
				<entities>
					<eavmodule>
						<table>ccc_eav_entity</table>
					</eavmodule>
				</entities>
			</Ccc_Resource_Model>
		</models>
		<resources>
			<eavModule_setup>
				<setup>
					<module>Ccc_EavModule</module>
					<class>Ccc_EavModule_Model_Resource_Setup</class>
				</setup>
			</eavModule_setup>
			<eav_module_read>
				<connection>
					<use>core_read</use>
				</connection>
			</eav_module_read>
			<eav_module_write>
				<connection>
					<use>core_write</use>
				</connection>
			</eav_module_write>
		</resources>
	</global>
</config>