<?xml version="1.0" encoding="UTF-8"?>
<config>
	<modules>
		<Ccc_Example>
			<version>0.0.0.2</version>
		</Ccc_Example>
	</modules>
	<frontend>
		<routers>
			<example>
				<use>standard</use>
				<args>
					<module>Ccc_Example</module>
					<frontName>example</frontName>
				</args>
			</example>
		</routers>
	</frontend>
	<admin>
		<routers>
			<example>
				<use>admin</use>
				<args>
					<module>Ccc_Example</module>
					<frontName>example</frontName>
				</args>
			</example>
		</routers>
	</admin>
	<adminhtml>
		<menu>
			<example>
				<title>Example</title>
				<sort_order>100</sort_order>
				<children>
					<example>
						<title>Grid</title>
						<sort_order>1</sort_order>
						<action>example/adminhtml_example/grid</action>
					</example>
					<example1>
						<title>manage</title>
						<sort_order>2</sort_order>
						<children>
							<example>
								<title>add</title>
								<sort_order>1</sort_order>
								<action>example/adminhtml_example/new</action>
							</example>
							<example1>
								<title>edit</title>
								<sort_order>2</sort_order>
								<action>example/adminhtml_example/edit</action>
							</example1>
						</children>
					</example1>
				</children>
			</example>
		</menu>
	</adminhtml>
	<global>
		<blocks>
			<example>
				<class>Ccc_Example_Block</class>
			</example>
		</blocks>
		<models>
			<example>
				<class>Ccc_Example_Model</class>
				<resourceModel>Ccc_Example_Resource</resourceModel>
			</example>
			<Ccc_Example_Resource>
				<class>Ccc_Example_Model_Resource</class>
				<entities>
					<example>
						<table>Example</table>
					</example>
				</entities>
			</Ccc_Example_Resource>
		</models>
		<resources>
			<Example_setup>
				<setup>
					<module>Ccc_Example</module>
				</setup>
			</Example_setup>
		</resources>
	</global>
</config>