<?xml version="1.0" encoding="UTF-8"?>
<config>
	<modules>
		<Ccc_Seller>
			<version>1.1.1.1</version>
		</Ccc_Seller>
	</modules>
	<admin>
		<routers>
			<adminhtml>
				<args>
					<modules>
						<ccc_seller>Ccc_Seller</ccc_seller>
					</modules>
				</args>
			</adminhtml>	

			<!-- <admin>
				<routers>
					<vendor>
						<use>admin</use>
						<args>
							<module>Ccc_Vendor</module>
							<frontName>vendor</frontName>
						</args>
					</vendor>
				</routers>
			</admin>		 -->
			<!-- <vendor>
				<args>
					<modules>
						<vendor before="Ccc_Vendor">Ccc_Seller_Adminhtml</vendor>
					</modules>
				</args>
			</vendor> -->
		</routers>
	</admin>
	<adminhtml>
		<menu>
			<seller>
				<title>Seller</title>
				<sort_order>160</sort_order>
				<children>
					<seller>
						<title>Manage Seller</title>
						<sort_order>1</sort_order>
						<action>*/adminhtml_seller</action>
					</seller>
					<seller1>
						<title>Manage Attribute</title>
						<sort_order>2</sort_order>
						<action>*/adminhtml_seller_attribute</action>
					</seller1>
					<seller2>
						<title>Manage Attribute Set</title>
						<sort_order>3</sort_order>
						<action>*/adminhtml_seller_set</action>
					</seller2>
				</children>
			</seller>
		</menu>
	    <layout>
	      <updates>
	        <seller>
	          <file>seller.xml</file>
	        </seller>
	      </updates>
	    </layout>
		<acl>
		<resources>
			<all>
				<title>Allow Everything</title>
			</all>
			<admin>
				<children>
					<seller translate="title">
						<title>seller</title>
						<sort_order>1000</sort_order>
						<children>
							<alert translate="title">
								<title>Manage seller</title>
							</alert>

							<alert translate="title">
								<title>Manage Attribute</title>
							</alert>

							<alert translate="title">
								<title>Manage Attribute set</title>
							</alert>
							
						</children>
					</seller>
				</children>
			</admin>
		</resources>
	</acl>
	</adminhtml>
	<global>
		<blocks>
			<seller>
				<class>Ccc_Seller_Block</class>
			</seller>
		</blocks>
		<models>
			<seller>
				<class>Ccc_Seller_Model</class>
				<resourceModel>Ccc_Seller_Resource</resourceModel>
			</seller>
			<Ccc_Seller_Resource>
					<class>Ccc_Seller_Model_Resource</class>
					<entities>
						<seller>
			                <table>seller</table>
			            </seller>
		                <seller_datetime>
		                	<table>seller_datetime</table>
			            </seller_datetime>
			            <seller_decimal>
			                <table>seller_decimal</table>
			            </seller_decimal>
			            <seller_int>
			                <table>seller_int</table>
			            </seller_int>
			            <seller_text>
			                <table>seller_text</table>
			            </seller_text>
			            <seller_varchar>s
			                <table>seller_varchar</table>
			            </seller_varchar>
			            <seller_char>
			                <table>seller_char</table>
			            </seller_char>
			            <eav_attribute>
		                    <table>seller_eav_attribute</table>
		                </eav_attribute>
					</entities>
			</Ccc_Seller_Resource>
		</models>
		<resources>
			<seller_setup>
				<setup>
					<module>Ccc_Seller</module>
					<class>Ccc_Seller_Model_Resource_Setup</class>
				</setup>
			</seller_setup>
		</resources>
		<helpers>
			<seller>
				<class>Ccc_Seller_Helper</class>
			</seller>
		</helpers>
	</global>
</config>
